$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #00CEFE;
$secondary_paletteKeyColor: #5C7A92;
$tertiary_paletteKeyColor: #5C78A3;
$neutral_paletteKeyColor: #6D797E;
$neutral_variant_paletteKeyColor: #6A7980;
$background: #0A1519;
$onBackground: #D9E4EA;
$surface: #0A1519;
$surfaceDim: #0A1519;
$surfaceBright: #303B40;
$surfaceContainerLowest: #051014;
$surfaceContainerLow: #121D22;
$surfaceContainer: #162126;
$surfaceContainerHigh: #212C30;
$surfaceContainerHighest: #2B363B;
$onSurface: #D9E4EA;
$surfaceVariant: #3B494F;
$onSurfaceVariant: #BAC9D0;
$inverseSurface: #D9E4EA;
$inverseOnSurface: #273237;
$outline: #84939A;
$outlineVariant: #3B494F;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #54D5FF;
$primary: #54D5FF;
$onPrimary: #003544;
$primaryContainer: #004D61;
$onPrimaryContainer: #B8EAFF;
$inversePrimary: #006780;
$secondary: #ACCAE5;
$onSecondary: #133348;
$secondaryContainer: #2E4C62;
$onSecondaryContainer: #CDE7FF;
$tertiary: #ABC8F7;
$onTertiary: #0F3158;
$tertiaryContainer: #7592BF;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #B8EAFF;
$primaryFixedDim: #54D5FF;
$onPrimaryFixed: #001F28;
$onPrimaryFixedVariant: #004D61;
$secondaryFixed: #CAE6FF;
$secondaryFixedDim: #ACCAE5;
$onSecondaryFixed: #001E30;
$onSecondaryFixedVariant: #2C4A60;
$tertiaryFixed: #D4E3FF;
$tertiaryFixedDim: #ABC8F7;
$onTertiaryFixed: #001C3A;
$onTertiaryFixedVariant: #2A4870;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
