$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FEB700;
$secondary_paletteKeyColor: #877544;
$tertiary_paletteKeyColor: #837834;
$neutral_paletteKeyColor: #817563;
$neutral_variant_paletteKeyColor: #83755F;
$background: #191206;
$onBackground: #F0E0CA;
$surface: #191206;
$surfaceDim: #191206;
$surfaceBright: #413828;
$surfaceContainerLowest: #140D03;
$surfaceContainerLow: #221A0D;
$surfaceContainer: #261E11;
$surfaceContainerHigh: #31291A;
$surfaceContainerHighest: #3D3324;
$onSurface: #F0E0CA;
$surfaceVariant: #514531;
$onSurfaceVariant: #D6C4AA;
$inverseSurface: #F0E0CA;
$inverseOnSurface: #382F20;
$outline: #9E8F77;
$outlineVariant: #514531;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFBA1E;
$primary: #FFBA1E;
$onPrimary: #412D00;
$primaryContainer: #5E4200;
$onPrimaryContainer: #FFDEA7;
$inversePrimary: #7C5800;
$secondary: #DBC58C;
$onSecondary: #3C2F04;
$secondaryContainer: #56481B;
$onSecondaryContainer: #F9E2A7;
$tertiary: #D6C77B;
$onTertiary: #383100;
$tertiaryContainer: #9E914B;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFDEA7;
$primaryFixedDim: #FFBA1E;
$onPrimaryFixed: #271900;
$onPrimaryFixedVariant: #5E4200;
$secondaryFixed: #F8E1A6;
$secondaryFixedDim: #DBC58C;
$onSecondaryFixed: #241A00;
$onSecondaryFixedVariant: #544519;
$tertiaryFixed: #F2E494;
$tertiaryFixedDim: #D6C77B;
$onTertiaryFixed: #201C00;
$onTertiaryFixedVariant: #504705;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
